* {
  margin: 0 auto;
  padding-inline: 10px;
  box-sizing: border-box;
}
.main-heading {
  text-align: center;
  margin-top: 40px;
}

.main-container {
  margin: 50px 80px;
  font-size: 16px;
  text-align: justify;
}

.main-container h1 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.highlight {
  margin: 0;
  padding: 0;
  background-color: #e8bb49;
}
.highlight.selected {
  background-color: #e2550a;
}
